
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
*.manifest
*.spec
build/
dist/

.env/
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

.ipynb_checkpoints/

src/insurance/data/raw/
src/insurance/data/cleaned/
src/insurance/data/splitted/
data/interim/
data/external/


models/
*.joblib
*.pkl
*.h5
*.pt
*.onnx
.vscode/
.idea/
*.swp
*.swo

*.env
.env.*

logs/
*.log
wandb/
mlruns/
cache/
.dvc/
.dvc/*
**/.pytest_cache/

.docker/
docker-compose.override.yml

.DS_Store

Thumbs.db
ehthumbs.db
desktop.ini

*~
.streamlit/*.pid
